*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.tmp
desktop.ini
_*/
.idea/
.circleci/
.nyc_output/
build/
public/*.json.html
public/navigation.html
docs/*x16.png
docs/*x32.png
docs/*x128.png
docs/*x256.png
docs/*x512.png
node_modules/
